<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email is required</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </form>
    </div>
</div>

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fLogin.email.errors }" />
                <div *ngIf="submitted && fLogin.email.errors" class="invalid-feedback">
                    <div *ngIf="fLogin.email.errors.required">email is required</div>
                </div>
            </div>
            <div>
                <button [disabled]="loginLoading" class="btn btn-primary">
                    <span *ngIf="loginLoading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </form>
    </div>
</div>