<h1>DMV details</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="row">
        <div class="mb-3 col" >
            <label class="form-label">Name</label>
            <input [attr.disabled]="readOnly" type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Driver License Number</label>
            <input type="text" [attr.disabled]="readOnly" formControlName="DL_no" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.DL_no.errors }" />
            <div *ngIf="submitted && f.DL_no.errors" class="invalid-feedback">
                <div *ngIf="f.DL_no.errors.required">Driver License Number is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">
                D.O.B (dd/mm/yyyy)
            </label>
            <input type="text" [attr.disabled]="readOnly" formControlName="dob" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">D.O.B is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-6 col">
            <label class="form-label">Address</label>
            <input [attr.disabled]="readOnly" type="text" formControlName="address" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-6 col">
            <label class="form-label">Attestor</label>
            <select [attr.disabled]="readOnly" formControlName="attestor" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.attestor.errors }">
                <option *ngFor="let dmvAttestor of dmvAttestors" [value]="dmvAttestor.id">
                    {{ dmvAttestor.name }}
                </option>
            </select>
            <div *ngIf="submitted && f.attestor.errors" class="invalid-feedback">
                <div *ngIf="f.attestor.errors.required">Attestor is required</div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dmvRecordData">
        <div class="mb-6 col">
            <label class="form-label">Attestation status: </label>
            <label>{{dmvRecordData.
                attestation_status}}</label>
        </div>
    </div>
    <div *ngIf="!readOnly">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save & submit for attestation
        </button>
        <!-- <a routerLink="/users" class="btn btn-link">Cancel</a> -->
    </div>
</form>
<div *ngIf="readOnly">
    <button (click)="submitToBlockChain()"  class="btn btn-primary">
        Submit to blockchain
    </button>
    <!-- <a routerLink="/users" class="btn btn-link">Cancel</a> -->
</div>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>